POSTGRES_USER=placeholder_user
POSTGRES_PASSWORD=placeholder_password
POSTGRES_DB=placeholder_db_name
POSTGRES_PORT=5432

# Connection string interna para Docker Compose
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:${POSTGRES_PORT}/${POSTGRES_DB}

# Configuración necesaria sin internet para evitar demoras
CHECKPOINT_DISABLE=1
PRISMA_HIDE_UPDATE_MESSAGE=1